@charset "UTF-8";

/* 메인 타이틀 */
.main {
  background-image: url("../image/main__bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main__tit {
  width: 962px;
  margin: 0 auto;
  padding: 150px 0;
  line-height: 125px;
}
.main__tit em,
.main__tit strong {
  display: block;
}
.main__tit strong {
  text-align: right;
}
.main__tit-the {
  margin-left: 80px;
}
.main__tit--unique {
  margin-left: 239px;
}

/* 메인 사진 */
.mainPhoto {
  margin: 147px 0;
  text-align: right;
}
.mainPhoto__img {
  display: inline-block;
  height: 546px;
  width: 69.097%;
  background-color: pink;
}

/* 넘버링 타이틀 */
.titWrap {
  width: 1040px;
  margin: 0 auto;
  text-align: right;
}
.titWrap__tit span {
  border-bottom: solid 1px #fff;
  padding-bottom: 36px;
  width: 775px;
  display: inline-block;
  text-align: left;
}
.titWrap__tit em {
  line-height: 90px;
}
.titWrap__des {
  font-family: "s-core_dream5_medium", sans-serif;
  font-size: 26px;
  padding-top: 50px;
  width: 775px;
  display: inline-block;
  text-align: left;
}

/* 프로젝트 디테일 */
.project__list {
  width: 1040px;
  margin: 0 auto;
  margin-top: 85px;
}
.project__list ul li:nth-child(1n + 2) {
}
.project__list--arrow {
  position: relative;
}
.project__list--arrow p {
  font-size: 16px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  opacity: 0;
}
.project__list--arrow:hover p {
  opacity: 1;
}
.project__list--arrowBg {
  width: 245px;
  height: 245px;
  border: solid 1px #fff;
  border-radius: 50%;
}
.project__list--circle {
  width: 245px;
  height: 245px;
  background-color: #ffa63d;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.project__list--circle span {
  font-family: "Montserrat Subrayada", sans-serif;
  line-height: 245px;
  font-size: 18px;
}

/* 프로젝트 사이트*/
.project__site {
  background-color: #efefef;
  padding: 170px 0;
}
.project__site--tit {
  width: 1040px;
  margin: 0 auto;
  text-shadow: -1px 0 #151515, 0 1px #151515, 1px 0 #151515, 0 -1px #151515;
  -moz-text-shadow: -1px 0 #151515, 0 1px #151515, 1px 0 #151515, 0 -1px #151515;
  -webkit-text-shadow: -1px 0 #151515, 0 1px #151515, 1px 0 #151515,
    0 -1px #151515;
}
.project__site--bg {
  height: 646px;
  text-align: right;
  padding-right: 13.885%;
  padding-top: 181px;
  background-color: pink;
  margin-top: -60px;
}
.project__site--code {
  width: 1040px;
  margin: 0 auto;
  height: 621px;
  background-color: #151515;
  margin-top: -63px;
  position: relative;
}
.project__site--code li {
  width: 102px;
  float: left;
  text-align: center;
  line-height: 63px;
}
.project__site--code a {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: block;
  opacity: 0.8;
}
.project__site--code a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 13px;
  right: 0;
  top: 50%;
  margin-top: -8px;
  background-color: #fff;
}
.project__site--code a.active,
.project__site--code a:hover {
  background-color: #2c2525;
}
.project__site--code li:last-child a:after,
.project__site--code a.active:after {
  display: none;
}
.project__site--code div {
  clear: both;
  position: absolute;
  background-color: #2c2525;
  width: 1040px;
  height: 558px;
  bottom: 0;
  left: 0;
  text-align: left;
}
.project__next {
  padding: 171px 0;
}
.project__next--txt {
  width: 1040px;
  margin: 0 auto;
  text-align: right;
}
.project__next--txt span {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 18px;
  padding-top: 18px;
  display: inline-block;
  width: 775px;
  border-top: solid 1px#fff;
  text-align: left;
}
.project__next--hor {
  height: 136px;
  overflow: hidden;
}
.project__next--normal,
.project__next--italic {
  color: #151515;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  -moz-text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  -webkit-text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-weight: 600;
  font-size: 108px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}
.project__next--hor span:first-child:before,
.project__next--normal:after,
.project__next--italic:after {
  content: "";
  width: 68px;
  height: 10px;
  background-color: #151515;
  border: solid 1px #fff;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}
.project__next--italic {
  font-style: italic;
}
