@charset "UTF-8";

/* 기본 세팅 */
html,
body,
main,
section,
article,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
em,
figure,
figcaption,
ul,
li,
dl,
dd,
dt,
ol,
form,
input {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #151515;
  color: #fff;
}

li,
ol {
  list-style: none;
}

/* a 리셋 */
a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

/* form 리셋 */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: solid 1px #151515;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}

input[type="submit"] {
  cursor: pointer;
}

/* 폰트 */
em {
  font-style: normal;
}

h1 {
  font-size: 108px;
  font-weight: 600;
  text-transform: uppercase;
}
h1 strong {
  font-weight: normal;
  font-family: "Montserrat Subrayada", sans-serif;
}

h2 {
  font-size: 108px;
  font-weight: 500;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}
h2 em {
  font-size: 48px;
  font-style: italic;
  letter-spacing: -0.1px;
  vertical-align: top;
}

h3 {
  color: #efefef;
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: normal;
  font-size: 108px;
  text-transform: uppercase;
}
h3 em {
  font-family: "s-core_dream6_bold", sans-serif;
  font-size: 84px;
  display: block;
  color: #151515;
}

h4 {
  font-family: "s-core_dream8_heavy", sans-serif;
  font-size: 27px;
}

h5 {
  font-weight: bold;
  font-size: 90px;
  text-transform: uppercase;
}

h6 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
}

figcaption {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

/* 한글 서체 에스코어드림 */
@font-face {
  font-family: "s-core_dream4_regular";
  src: url("../font/scdream4.woff2") format("woff2"),
    url("../font/scdream4.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "s-core_dream5_medium";
  src: url("../font/scdream5.woff2") format("woff2"),
    url("../font/scdream5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "s-core_dream6_bold";
  src: url("../font/scdream6.woff2") format("woff2"),
    url("../font/scdream6.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "s-core_dream7_extrabold";
  src: url("../font/scdream7.woff2") format("woff2"),
    url("../font/scdream7.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "s-core_dream8_heavy";
  src: url("../font/scdream8.woff2") format("woff2"),
    url("../font/scdream8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
